.info-table .columns:first-child {
  margin-top: 0.25em;
}
.info-table .columns:last-child {
  margin-bottom: 0.25em;
}
.info-table .column {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.info-table .info-title {
  font-weight: bold;
}
.info-table .info-value {
  word-break: break-all;
}
@media (min-width: 1024px) {
  .info-table .info-title {
    flex: none;
    width: 25%;
    text-align: right;
  }
}
@media (max-width: 1023px) {
  .info-table .info-title,
  .info-table .info-value {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
